@tailwind base;
@tailwind components;
@tailwind utilities;


/* Se aplicará a todos los elementos con scroll en navegadores WebKit */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #01687d; /* El color de tu barra */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8dc3cc; /* Color al pasar el ratón */
}

