@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #01687d; 
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #8dc3cc;
}


.custom-select option {
  border: 2px solid #e5e7eb;
  background-color: white;
}

.custom-select option:checked {
  background-color: #5bb4cf;
  color: white;
}

.custom-select option:hover {
  background-color: #5bb4cf !important;
  color: white;
}